{% extends "layout.njk" %}
{% block head %}
  <link rel="stylesheet" href="/about.css"/>
{% endblock %}
{% block content %}
  <section class="about">
    {% for item in items %}
      <h1>{{ item.title }}</h1>
      <p>
        {{ item.paragraph }}
      </p>
    {% endfor %}
  </section>
{% endblock %}