{% extends "layout.njk" %}
{% block content %}
  <main>
    <section class="wrapper">
      <div class="wrapper__info">
        <h1>
          As melhores receitas
        </h1>
        <p>
          Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
        </p>
      </div>
      <div class="wrapper__img">
        <img src="/chef.png" alt="Imagem de um chef de cozinha"/>
      </div>
    </section>
    <article>
      <h2>Mais acessados</h2>
      <div class="cards">
        {% for item in items %}
          <div class="card">
            <div class="card__img">
              <img src="{{ item.image }}" alt="Imagem de {{ item.description }}"/>
            </div>
            <div class="card__description">
              <p>{{ item.description }}</p>
              <span>{{ item.author }}</span>
            </div>
          </div>
        {% endfor %}
      </div>
    </article>
  </main>
{% endblock %}