{% extends "layout.njk" %}
{% block head %}
  <link rel="stylesheet" href="/not-found.css"/>
{% endblock %}
{% block content %}
  <section class="not__found">
    <span class="not__found-span">404</span>
    <h1 class="not__found-title">Page not found...</h1>
    <a class="not__found-link" href="/">go to home...</a>
  </section>
{% endblock %}