{% extends "layout.njk" %}
{% block head %}
  <link rel="stylesheet" href="/recipe.css">
  {% endblock %}
  {% block content %}
    <main>
      <div class="recipe">
        <div class="recipe__wrapper">
          <div class="recipe__wrapper-img">
            <img src="{{ data.image }}" alt="Imagem de {{ data.title }}"/>
          </div>
          <div class="recipe__wrapper-description">
            <h1 class="recipe__wrapper-title">
              {{ data.title }}
            </h1>
            <p class="recipe__wrapper-paragraph">
              {{ data.author }}
            </p>
          </div>
        </div>
        <div class="recipe__ingredients">
          <h3 class="recipe__ingredients-title">
            Ingredientes
            <span id="btnIngredients">esconder</span>
          </h3>
          <div class="recipe__ingredients-items">
            <ul>
              {% for ingredients in data.ingredients %}
                <li>{{ ingredients }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="recipe__preparation">
          <h3 class="recipe__preparation-title">
            Modo de preparo
            <span id="btnPreparation">esconder</span>
          </h3>
          <div class="recipe__preparation-items">
            <ul>
              {% for preparation in data.preparation %}
                <li>{{ preparation }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="recipe__information">
          <h3 class="recipe__information-title">
            Informações adicionais
            <span id="btnInformation">esconder</span>
          </h3>
          <div class="recipe__information-more">
            <p class="recipe__information-paragraph">
              {{ data.information }}
            </p>
          </div>
        </div>
      </div>
    </main>
    {% block footer %}
      <script src="/script.js"></script>
    {% endblock %}
  {% endblock %}