{% extends "layout.njk" %}
{% block head %}
  <link rel="stylesheet" href="/modal.css"/>
  <style>
    .card {
      cursor: pointer;
    }
    footer {
      position: fixed;
      bottom: 0;
      width: 100%;
    }
  </style>
{% endblock %}
{% block content %}
  <main>
    <div class="cards">
      {% for item in ìtems2 %}
        <div class="card" id="{{ item.id }}">
          <div class="card__img">
            <img src="{{ item.image }}" alt="Imagem de {{ item.description }}"/>
          </div>
          <div class="card__description">
            <p>{{ item.description }}</p>
            <span>
              {{ item.author }}
            </span>
          </div>
        </div>
      {% endfor %}
    </div>
  </main>
  <div class="modal-overlay">
    <div class="modal">
      <div class="modal-content">
        <img src="" alt="">
          <p></p>
          <span></span>
        </div>
        <span class="close-modal">Fechar modal</span>
      </div>
    </div>
    {% block footer %}
      <script src="/script.js"></script>
    {% endblock %}
  {% endblock %}