{% extends "layout.njk" %}
{% block content %}
  <section>
    <h1>
      {{ items.title }}
    </h1>
    <blockquote cite="https://www.rocketseat.com.br/sobre#boost">
      <p>
        {{ items.description }}
      </p>
    </blockquote>
    <ul>
      {% for item in items.techs %}
        <li>{{ item.name }}</li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}