{% extends "layout.njk" %}
{% block content %}
  <section>
    <h1>Desafio frontend Launchbase - Rocketseat</h1>
    <blockquote cite="https://www.rocketseat.com.br/sobre#boost">
      <p>
        Criamos um ambiente dedicado para que programadores e programadoras possam se conectar com as oportunidades, estudar e
        crescer na carreira através de uma jornada de aprendizado completa e contínua.
      </p>
    </blockquote>
    <ul>
      <li>Javascript</li>
      <li>HTML5</li>
      <li>CSS3</li>
      <li>ReactJs</li>
      <li>NodeJs</li>
    </ul>
  </section>
{% endblock  %}