{% extends "layout.njk" %}
{% block content %}
  <section class="article" id="{{ item.id }}">
    <div class="article__img-content">
      <iframe src="https://blog.rocketseat.com.br/{{ item.id }}" frameborder="0"></iframe>
    </div>
  </section>
{% endblock %}