<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap" rel="stylesheet"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <title>Desafio Semana 01 - Launchbase</title>
    <link rel="stylesheet" href="/style.css"/>
  </head>
  <body>
    <header class="link">
      <img src="/logo-rocketseat.svg" alt="Logo Rocketseat"/>
      <nav>
        <a href="/">Conteúdos</a>
        <a href="/about">Sobre</a>
        <a href="https://discordapp.com/invite/gCRAFhc" target="_blank">Comunidade</a>
        <a href="mailto:oi@rocketseat.com.br." target="_blank">Email</a>
        <a href="tel:+5547992078767" target="_blank">Telefone</a>
      </nav>
    </header>
    <section>
      <h1>Desafio frontend Launchbase - Rocketseat</h1>
      <h3>Posts do Blog da Rocketseat</h3>
    </section>
    <section class="cards">
      <div class="card" id="como-renomear-varios-arquivos-de-uma-vez-usando-o-terminal/">
        <div class="card__image-content">
          <img
            src="https://blog.rocketseat.com.br/content/images/size/w2000/2020/11/thumb-como-renomear-varios-arquivos-de-uma-vez-usando-o-terminal.jpg"
            alt="Como renomear vários arquivos de uma vez usando o terminal"/>
        </div>
        <div class="card__content">
          <p>Como renomear vários arquivos de uma vez usando o terminal</p>
        </div>
        <div class="card__info">
          <p>Thiago Marinho</p>
          <p>7 min de leitura</p>
        </div>
      </div>
      <div class="card" id="dark-mode-com-css-mudando-a-aparencia-do-blog-de-maneira-simples-e-rapida">
        <div class="card__image-content">
          <img
            src="https://blog.rocketseat.com.br/content/images/size/w2000/2020/10/dark-mode-com-css-mudando-a-aparencia-do-blog-de-maneira-simples-e-rapida.jpg"
            alt="Dark Mode com CSS — mudando a aparência do Blog de maneira simples e rápida"/>
        </div>
        <div class="card__content">
          <p>
            Dark Mode com CSS — mudando a aparência do Blog de maneira simples e
                        rápida
          </p>
        </div>
        <div class="card__info">
          <p>Thiago Marinho</p>
          <p>9 min de leitura</p>
        </div>
      </div>
      <div class="card" id="obtendo-o-status-de-progresso-do-envio-de-dados-com-axios">
        <div class="card__image-content">
          <img
            src="https://blog.rocketseat.com.br/content/images/size/w2000/2020/10/obtendo-o-status-de-progresso-do-envio-de-dados-com-axios.png"
            alt="Obtendo o status de progresso do envio de dados com Axios"/>
        </div>
        <div class="card__content">
          <p>Obtendo o status de progresso do envio de dados com Axios</p>
        </div>
        <div class="card__info">
          <p>Thiago Marinho</p>
          <p>5 min de leitura</p>
        </div>
      </div>
    </section>
    <div class="modal-overlay">
      <div class="modal">
        <a class="maximize">
          <i class="material-icons">open_in_full</i>
        </a>
        <a class="close-modal">
          <i class="material-icons">close</i>
        </a>
        <div class="modal-content">
          <iframe src="" frameborder="0"></iframe>
        </div>
      </div>
    </div>
    <script src="/scripts.js"></script>
  </body>
</html>