{% extends "layout.njk" %}
{% block head %}
  <title>404 - Not found | Desafio Semana 01 - Launchbase</title>
{% endblock %}
{% block content %}
  <section class="not-found">
    <span>404</span>
    <h1>Page not found</h1>
    <a href="/">Go to home...</a>
  </section>
{% endblock %}