{% extends "layout.njk" %}
{% block head %}
  <title>Teachers | Private Lessons</title>
{% endblock head %}
{% block content %}
  <section class="card__container">
    <div class="card__avatar"></div>
    <div class="card__details">
      <h3>Detalhes</h3>
      <div class="card__details-item">
        <div>Nome Completo</div>
        <div>Luiz Garcia</div>
      </div>
      <div class="card__details-item">
        <div>Idade</div>
        <div>59</div>
      </div>
      <div class="card__details-item">
        <div>Grau de escolaridade</div>
        <div>Doutorado</div>
      </div>
      <div class="card__details-item">
        <div>Tipo de aula</div>
        <div>Presencial</div>
      </div>
      <div class="card__details-item">
        <div>Acompanhamento</div>
        <div>
          <span>Física</span>
          <span>Matemática</span>
        </div>
      </div>
      <div class="card__details-item">
        <div>Desde</div>
        <div>20/01/2014</div>
      </div>
    </div>
  </section>
{% endblock content %}