* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  background: #18181B;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}
.link {
  width: 940px;
  margin: 0 auto;
}
.link img {
  padding-right: 200px;
}
.link {
  font-size: 13pt;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.link a {
  color: #fff;
  margin-left: 30px;
  text-decoration: none;
  transform: color 0.2s;
}
.link a:first-child {
  margin-left: 0;
}
.link a:hover {
  color: #8b5cf6;
}
section {
  max-width: 700px;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 32px auto;
}
section h1 {
  margin-bottom: 32px;
  text-align: center;
}
section p {
  line-height: 24px;
  margin-bottom: 32px;
}
